<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informiranje</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<h1>Informiranje o neuspjehu provjere ulaznice</h1>
<p> Informirajte nadležnu službu o neuspjehu povezivanja sa bazom podataka</p>
<a th:href="@{/biljeter/informiranje}" class="btn btn-primary">Dojavljeno</a>
</body>
</html>